body {
    background-image: url("../image/bg.jpg");
}

.follow:hover {
    cursor: pointer;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.footer-copyright {
    font-size: 12px;
    text-align: right;
}

.footerGrinder a {
    color: white;
}

.slider .indicators .indicator-item {
    border: 1px solid black;
    background-color: grey;
    opacity: 0.2;
    -webkit-opacity: 0.2;
}

.slider .indicators .indicator-item.active {
    background-color: #ffffff;
    filter: alpha(opacity=10);
    opacity: 0.1;
    -webkit-opacity: 0.1;
}

.slider .indicators {
    bottom: 60px;
    z-index: 100;
    text-align: right;
}

a {
    text-decoration-color: white;
    font-size: 9px;
}

.containerGrinder {
    background-image: url("../image/bgGrinder.gif");
    background-repeat: repeat-y;
    background-position: top center;
    background-size: auto;
}
.sidenav li > a{
    color: #ffffff;
}

@media only screen and (max-width:979px) {
    .footer-copyright {
        font-size: 8px;
        text-align: center;
    }
    .footerGrinder {
        text-align: center;
    }
    .footerGrinder a {
        display: none;
    }
    .footerGrinder h6 {
        display: none;
    }
}

@media only screen and (max-width:480px) {
    .footer-copyright {
        font-size: 8px;
        text-align: center;
    }
    .footerGrinder {
        text-align: center;
    }
    .footerGrinder a {
        display: none;
    }
    .footerGrinder h6 {
        display: none;
    }
}

@media only screen and (max-width:400px) {
    .footer-copyright {
        font-size: 6px;
        text-align: center;
    }
}